//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
    display: inline-flex;
    padding: 0px 0px;
    @media (any-hover: hover) {
        &:hover {
        }
    }
    &._fw {
        width: 100%;
    }
}

.btn {
    display: inline-flex;
    padding: 0px 48px;
    height: 50px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 18 / 18 * 100%;
    color: #f9f6e5;
    background-color: #2b4074;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    @media (min-width: 992px) {
        &:hover {
            background-color: #fff;
            color: #2b4074;
        }
    }
    &_white {
        background-color: #fff;
        padding: 0px 15px;
        color: #2b4074;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0);
        @media (min-width: $md2+px) {
            &:hover {
                box-shadow: 0 0 5px rgba(255, 255, 255, 1);
            }
        }
    }
    &._fw {
        width: 100%;
    }
}
