//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
    display: inline-flex;
    padding: 0px rem(15);
    height: rem(50);
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: rem(18);
    line-height: math.div(18, 18);
    color: $light_01;
    background-color: $primary_01;
    border-radius: rem(3);
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s, box-shadow 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            background-color: $white;
            color: $primary_01;
        }
    }
    &_white {
        background-color: $white;
        color: $primary_01;
        box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0);
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0 0 rem(5) $white;
            }
        }
    }
}
