.footer {
    background: $primary_01;
    position: relative;
    &__content {
        @include adaptiveValue("padding-top", 150, 80, 1140, 767.98, 1);
        @include adaptiveValue("padding-bottom", 110, 10, 1140, 767.98, 1);
    }

    &__logo {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-flex;
        justify-content: center;
        background: $primary_01;
        padding: rem(5) rem(75);
        img {
            width: rem(83);
        }
    }

    &__body {
    }

    &__title {
        max-width: rem(650);
        font-family: Roboto;
        @include adaptiveValue("margin-bottom", 80, 40, 1140, 767.98, 1);
        @include adaptiveValue("font-size", 24, 20, 767.98, 479.98, 1);
        line-height: math.div(32, 24);
        letter-spacing: rem(2);
        color: $white;
        @media (max-width: $mobileSmall) {
            text-align: center;
            max-width: none;
        }
    }

    &__socials {
        @include adaptiveValue("margin-bottom", 80, 40, 1140, 767.98, 1);
        @media (min-width: $mobileSmall) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            min-height: rem(70);
            border-top: rem(1) solid $green;
            border-bottom: rem(1) solid $green;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease 0s;
        &:not(:last-child) {
            @media (min-width: $mobileSmall) {
                border-right: rem(1) solid $green;
            }
            @media (max-width: $mobileSmall) {
                margin-bottom: rem(16);
            }
        }
        &::before {
            transition: color 0.3s ease 0s;
            color: $white;
            font-size: rem(18);
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $white;
                &::before {
                    color: $primary_01;
                }
            }
        }
    }

    &__low {
        display: flex;
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
        @media (max-width: $mobileSmall) {
            justify-content: center;
            text-align: center;
        }
    }

    &__list {
        flex: 0 1 25%;
        &:not(:last-child) {
            padding-right: rem(10);
        }
        @media (max-width: $tablet) {
            margin-bottom: rem(30);
            flex: 0 1 50%;
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__label {
        font-weight: 700;
        letter-spacing: rem(2);
        color: $light_01;
        margin-bottom: rem(20);
        font-size: rem(18);
        line-height: math.div(21, 18);
        @media (min-width: $tablet) {
            font-size: rem(16);
            line-height: math.div(19, 16);
        }
    }

    &__link {
        font-family: Roboto;
        color: $white;
        font-size: rem(16);
        line-height: math.div(20, 16);
        @media (min-width: $tablet) {
            font-size: rem(12);
            line-height: math.div(20, 12);
        }
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__to-top {
    }
}

.to-top {
    background-color: $light_01;
    padding: rem(10) 0;
    min-height: rem(42);
    @media (max-width: $mobileSmall) {
        padding-top: rem(56);
        padding-bottom: rem(25);
    }
    &__container {
        @media (min-width: $mobileSmall) {
            text-align: right;
        }
    }

    &__button {
        display: inline-flex;
        align-items: center;
        @media (max-width: $mobileSmall) {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        @media (any-hover: hover) {
            &:hover {
                .to-top__image {
                    transform: translate(0px, 0);
                }
            }
        }
    }

    &__text {
        @extend %text_01;
        color: $gray_01;
        text-transform: uppercase;
        margin-right: rem(12);
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            margin: 0px 0px rem(20) 0px;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0px, rem(3));
        transition: transform 0.3s ease 0s;
        img {
            max-width: 100%;
        }
    }
}
