//====================================================================================================
//====================================================================================================
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #2b4074;
    padding: 17px 0px;
    z-index: 50;
    transition: all 0.3s ease 0s;
    @media (max-width: $md4+px) {
        padding: 5px 0px;
    }
    &::before {
        transition: all 0.3s ease 0s;
        content: "";
        position: fixed;
        width: 100%;
        height: 100px;
        z-index: 12;
        background: #2b4074;
        top: 0;
        left: 0;
        @media (max-width: $md4+px) {
            height: 75px;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        position: relative;
        z-index: 15;
        flex: 0 0 100px;
        img {
            max-width: 100%;
        }
    }

    &__menu {
    }
}
.menu {
    &__icon {
        margin: 0px 80px 0px 0px;
        @media (max-width: $md1+px) {
            margin: 0;
        }
    }

    &__body {
        opacity: 0;
        visibility: hidden;
        transform: translate(0px, -100%);
        padding: 120px 0 0 0;
        position: fixed;
        z-index: 10;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.5s ease 0s;
        background-color: #2b4074;
        &._active {
            transform: translate(0px, 0px);
            visibility: visible;
            opacity: 1;
        }
    }
    &__container {
    }

    &__list {
        li {
            margin: 0px 0px 15px 0px;
        }
    }

    &__link {
        font-weight: 700;
        font-size: 20px;
        line-height: 19 / 16 * 100%;
        letter-spacing: 2px;
        color: #f9f6e5;
    }
}
.icon-menu {
    position: relative;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 15;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0);
    transition: all 0.3s ease 0s;
    span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 13px;
        position: absolute;
        width: 14px;
        height: 2px;
        background-color: #2b4074;
        &:first-child {
            top: calc(50% - 5px);
        }
        &:last-child {
            top: auto;
            bottom: calc(50% - 5px);
        }
    }
    @media (min-width: $md2+px) {
        &:hover {
            box-shadow: 0 0 5px rgba(255, 255, 255, 1);
        }
    }
    &._active {
        span {
            transform: scale(0);
            &:first-child {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }
            &:last-child {
                transform: rotate(45deg);
                bottom: calc(50% - 1px);
            }
        }
    }
}
//====================================================================================================

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
