.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $primary_01;
    z-index: 50;
    &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: rem(100);
        transform: translate(rem(-17), 0px);
        z-index: 12;
        background-color: $primary_01;
        top: 0;
        left: 0;
        pointer-events: none;
        transition: visibility 0.3s ease 0s, opacity 0.3s ease 0s;
        @media (max-width: $mobileSmall) {
            height: rem(80);
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: rem(100);
        @include adaptiveValue("gap", 80, 20, 991.98, 479.98, 1);
        @media (max-width: $mobileSmall) {
            height: rem(80);
        }
    }

    &__logo {
        position: relative;
        z-index: 15;
        flex: 0 0 rem(100);
        img {
            max-width: 100%;
        }
    }

    &__menu {
    }

    &__icon {
    }
}

.menu {
    &__body {
        opacity: 0;
        visibility: hidden;
        transform: translate(0px, -100%);
        padding: rem(120) rem(15) rem(30) rem(15);
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: transform 0.5s ease 0s, visibility 0.5s ease 0s, opacity 0.5s ease 0s;
        background-color: $primary_01;
        .menu-open & {
            overflow-y: overlay;
            transform: translate(0px, 0px);
            visibility: visible;
            opacity: 1;
        }
    }

    &__list {
        max-width: rem(1140);
        margin: 0px auto;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }

    &__link {
        font-weight: 700;
        font-size: rem(19);
        line-height: math.div(19, 16);
        letter-spacing: rem(2);
        color: $light_01;
    }
}

.icon-menu {
    position: relative;
    flex: 0 0 rem(40);
    height: rem(40);
    cursor: pointer;
    z-index: 15;
    background-color: $white;
    box-shadow: 0 0 rem(5) rgba(255, 255, 255, 0);
    border-radius: rem(3);
    transition: box-shadow 0.3s ease 0s;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0 0 rem(5) $white;
        }
    }
    span,
    &::before,
    &::after {
        content: "";
        transition: all 0.3s ease 0s;
        left: rem(13);
        position: absolute;
        width: rem(15);
        height: rem(2);
        border-radius: rem(1);
        background-color: $primary_01;
    }
    &::before {
        top: calc(50% - rem(5));
    }
    &::after {
        bottom: calc(50% - rem(5));
    }
    span {
        top: calc(50% - rem(1));
    }
    .menu-open & {
        span {
            width: 0;
            opacity: 0;
        }
        &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
        }
        &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
        }
    }
}
