.page {
    transition: padding-top 0.3s ease 0s;
    flex: 1 1 auto;
    padding-top: rem(100);
    @media (max-width: $mobileSmall) {
        padding-top: rem(80);
    }
    &__home {
    }

    &__servis {
    }

    &__portfolio {
    }

    &__team {
    }

    &__news {
    }

    &__testimonials {
    }
}
// HOME ===================================================================================================================================

.home {
    &__top {
        position: relative;
        @media (min-width: $mobile) {
            min-height: calc(100vh - rem(100));
        }
    }

    &__footer {
    }
}

.top-home {
    display: flex;
    flex-direction: column;
    &__slider {
        flex: 1 1 auto;
    }

    &__pagination {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: center;
        gap: rem(10);
        margin-top: rem(35);
        @include adaptiveValue("margin-bottom", 80, 20, 1140, 479.98, 1);
        .swiper-pagination-bullet {
            cursor: pointer;
            width: rem(10);
            height: rem(10);
            border-radius: 50%;
            border: rem(1) solid $white;
            transition: background-color 0.3s ease 0s;
        }
        .swiper-pagination-bullet-active {
            background-color: $white;
        }
    }

    &__navigation {
    }
}

.slider-home {
    overflow: visible !important;
    &__wrapper {
    }

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.8s ease 0s;
        &.swiper-slide-active,
        &.swiper-slide-duplicate-active {
            opacity: 1;
        }
    }

    &__title {
        @include adaptiveValue("font-size", 96, 28, 1140, 479.98, 1);
        line-height: math.div(96, 96);
        letter-spacing: rem(2);
        text-transform: uppercase;
        color: $white;
        max-width: rem(800);
        @include adaptiveValue("margin-top", 110, 40, 1140, 479.98, 1);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 25, 20, 1140, 767.98, 1);
        }
        @media (max-width: $mobile) {
            position: relative;
            padding-bottom: rem(15);
            &::after {
                content: "";
                left: 50%;
                transform: translate(-50%, 0);
                bottom: 0;
                position: absolute;
                width: rem(60);
                height: rem(8);
                background-color: $gray_01;
            }
        }
        @media (max-width: $mobileSmall) {
            padding-bottom: rem(28);
        }
    }

    &__subtitle {
        font-size: rem(24);
        line-height: math.div(26, 24);
        color: $white;
        max-width: rem(886);
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
        @media (max-width: $pc) {
            font-size: rem(18);
            line-height: math.div(20, 18);
            max-width: rem(587);
        }
        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__btn {
        min-width: rem(200);
    }

    &__image-ibg {
        position: absolute;
        width: 100%;
        z-index: -1;
        height: 100%;
        top: 0;
        left: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(33, 33, 33, 0.5);
        }
        img {
            object-position: left 100%;
        }
    }
}

.nav {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    right: 0;
    z-index: 10;
    @media (max-width: $mobileSmall) {
        display: none;
    }
    &__icon {
        cursor: pointer;
        background-color: $primary_01;
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(70);
        height: rem(70);
        position: relative;
        top: 100%;
        transition: background-color 0.3s ease 0s;
        &::before {
            transition: color 0.3s ease 0s;
            color: $white;
            font-size: rem(22);
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $white;
                &::before {
                    color: $gray_02;
                }
            }
        }
        @media (max-width: $pc) {
            &::before {
                font-size: rem(17);
            }
            width: rem(56);
            height: rem(56);
        }
        &_prev {
            &::before {
                transform: translate(10%, 0px);
            }
        }

        &_next {
            &::before {
                transform: translate(-15%, 0px);
            }
        }
    }
}

.footer-home {
    background-color: $primary_01;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(40);
        @include adaptiveValue("padding-top", 60, 40, 1140, 767.98, 1);
        @include adaptiveValue("padding-bottom", 60, 40, 1140, 767.98, 1);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__text {
        color: $white;
        @media (max-width: $tablet) {
            flex: 1 1 100%;
            text-align: center;
        }
    }

    &__title {
        font-family: "Roboto";
        font-weight: 500;
        font-size: rem(24);
        line-height: math.div(32, 24);
        margin-bottom: rem(10);
    }

    &__subtitle {
        flex: 0 1 rem(560);
        font-family: "Roboto";
        font-weight: 300;
        font-size: rem(16);
        line-height: math.div(18, 16);
    }

    &__btn {
        min-width: rem(200);
    }
}

//========================================================================================================================================================

.servis {
    &__row {
        display: flex;
        align-items: center;
        @media (max-width: $pc) {
            flex-wrap: wrap;
        }
    }

    &__column {
        @media (max-width: $pc) {
            flex: 1 1 100%;
        }
    }
}

.servis-info {
    margin: 30px 0px;
    flex: 0 0 100%;
    @media (max-width: $tablet) {
        margin: 25px 0px;
    }
    &__body {
        max-width: 393px;
        @media (max-width: $pc) {
            max-width: none;
        }
        @media (max-width: $tablet) {
            text-align: center;
        }
    }

    &__title {
        font-size: 48px;
        line-height: math.div(56, 48);
        color: $primary_01;
        margin: 0px 0px 64px 0px;
        @media (max-width: $pc) {
            text-align: center;
        }
        @media (max-width: $tablet) {
            margin: 0px 0px 30px 0px;
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(75);
            margin-bottom: 20px;
        }
    }

    &__subtitle {
        font-family: "Roboto";
        font-size: 24px;
        line-height: math.div(26, 24);
        color: $gray_01;
        position: relative;
        margin: 0px 0px 34px 0px;
        padding: 0px 0px 30px 0px;
        @media (max-width: $pc) {
            padding: 0px 0px 38px 0px;
            max-width: 611px;
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(75);
        }

        @media (max-width: $tablet) {
            max-width: none;
        }
        @media (max-width: $tablet) {
            padding-bottom: rem(30);
            margin-bottom: rem(30);
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(75);
            margin-bottom: rem(40);
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100px;
            height: 8px;
            background: $primary_01;
            @media (max-width: $tablet) {
                left: 50%;
                transform: translate(-50%, 0px);
            }
        }
    }

    &__text {
        font-family: "Roboto";
        font-size: rem(18);
        line-height: math.div(24, 18);
        color: #797979;
        @media (max-width: $pc) {
            max-width: 611px;
        }
        @media (max-width: $tablet) {
            max-width: none;
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(75);
            margin-bottom: rem(15);
        }
    }
}
.servis-items {
    flex: 0 0 63%;
    transform: translate(-100%, 0px);
    @media (max-width: $pc) {
        border-top: rem(1) solid $light_01;
        transform: translate(0px, 0px);
    }
    &__body {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex: 0 1 25%;
        padding: rem(10);
        border-bottom: rem(1) solid $light_01;
        border-left: rem(1) solid $light_01;
        min-height: 280px;
        @media (max-width: $tablet) {
            flex: 0 1 50%;
            padding: 26px;
        }
        @media (max-width: $tablet) {
            padding: rem(15);
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(75);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        border: 4px solid transparent;
        padding: rem(20) 5px;
        text-align: center;
        transition: all 0.3s ease 0s;
        @media (min-width: $tablet) {
            &:hover {
                justify-content: space-between;
                border: 4px solid $primary_01;
                .servis-items__image {
                    margin: 0px 0px rem(20) 0px;
                }
                .servis-items__subtitle,
                .servis-items__link {
                    display: block;
                }
            }
        }
        @media (max-width: $tablet) {
            padding: 35px;
            justify-content: space-between;
            border: 4px solid $primary_01;
            .servis-items__image {
                margin: 0px 0px rem(20) 0px;
            }
            .servis-items__subtitle,
            .servis-items__link {
                display: block;
            }
        }
        @media (max-width: $tablet) {
            padding: 28px rem(10);
        }
    }

    &__image {
        display: inline-block;
        margin: 50px 0px rem(20) 0px;
        img {
            max-width: 100%;
        }
    }

    &__title {
        flex: 1 1 auto;
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem(16);
        line-height: math.div(19, 16);
        letter-spacing: rem(2);
        color: $gray_01;
        margin-bottom: rem(10);
    }

    &__subtitle {
        font-family: "Roboto";
        font-weight: 500;
        font-size: rem(16);
        line-height: math.div(19, 16);
        color: #9b9b9b;
        display: none;
        margin-bottom: rem(18);
    }

    &__link {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem(16);
        line-height: math.div(19, 16);
        letter-spacing: rem(2);
        color: $primary_01;
        display: none;
        &::after {
            content: "→";
        }
    }
}

//========================================================================================================================================================

.portfolio {
    background: linear-gradient(180deg, $primary_01 0%, rgba(43, 64, 116, 0) 100%);
    padding: 80px 0px 50px 0;
    @media (max-width: $tablet) {
        padding: 40px 0px 15px 0;
    }
    @media (max-width: $mobileSmall) {
        padding-top: rem(75);
    }
    &__container {
    }

    &__title {
        font-size: 48px;
        line-height: math.div(56, 48);
        text-align: center;
        color: $white;
        text-align: center;
        margin: 0px 0px 80px 0px;
        padding: 0px 0px 24px 0px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0px);
            bottom: 0;
            background-color: $white;
            width: 100px;
            height: 8px;
        }
        @media (max-width: $tablet) {
            margin-bottom: rem(40);
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(75);
            padding-bottom: rem(20);
        }
    }

    &__row {
        display: flex;
        @media (max-width: $pc) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (min-width: $mobile) {
            padding: 0px rem(80);
        }
    }

    &__column {
        padding: 0px rem(10);
        margin-bottom: rem(30);
        flex: 0 1 25%;
        @media (max-width: $pc) {
            flex: 0 1 50%;
        }
        @media (max-width: $tablet) {
            flex: 1 1 100%;
            margin-bottom: rem(25);
            padding: 0px rem(25);
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(75);
        }
    }

    &__body {
        position: relative;
        text-align: center;
        @include adaptiveValue("margin-bottom", 40, 25, 1140, 767.98, 1);
        @media (max-width: $tablet) {
            .portfolio__hover {
                opacity: 1;
                visibility: visible;
            }
        }
        @media (min-width: $tablet) {
            &:hover {
                .portfolio__hover {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &__image {
        min-height: rem(240);
        overflow: hidden;
        @media (max-width: $pc) {
            min-height: rem(280);
        }
        @media (max-width: $tablet) {
            min-heigth: rem(460);
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(75);
        }
        img {
            border-radius: rem(4);
        }
    }

    &__hover {
        transition: all 0.3s ease 0s;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: calc(100% - 26px);
        height: calc(100% - 22px);
        top: 11px;
        left: 13px;
        background: rgba(249, 246, 229, 0.83);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $tablet) {
            height: 20%;
            top: auto;
            bottom: 11px;
        }
    }
    &__info {
        margin: 0px 15px 0px 0px;
        &::before {
            font-size: 32px;
        }
    }

    &__search {
        &::before {
            font-size: rem(32);
        }
    }

    &__text {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: rem(16);
        line-height: math.div(19, 16);
        text-align: center;
        letter-spacing: rem(2);
        color: $primary_01;
    }
}
//========================================================================================================================================================

.team {
    padding: 50px 0px 70px 0;
    @media (max-width: $pc) {
        padding: 80px 0px 40px 0;
    }
    @media (max-width: $tablet) {
        padding: 40px 0px 50px 0;
    }
    @media (max-width: $mobileSmall) {
        padding-top: rem(75);
    }
    &__container {
        @media (max-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__row {
        display: flex;
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
    }
    &__column {
        position: relative;
        &:first-child {
            margin: 0px 50px 40px 90px;
            flex: 0 0 460px;
            @media (max-width: $pc) {
                flex: 0 0 400px;
                margin: 0px 30px 40px 0px;
            }
            @media (max-width: $tablet) {
                margin: 0px 17px 40px 0px;
                flex: 0 0 240px;
            }
            @media (max-width: $tablet) {
                margin: 0px 0px 40px 0px;
                flex: 1 1 100%;
            }
        }
        &:last-child {
            margin: 0px 75px 40px 50px;
            flex: 1 1 auto;
            @media (max-width: $pc) {
                margin: 0px 0px 40pxrem (30);
            }
            @media (max-width: $tablet) {
                margin: 0px 0px 40px 17px;
            }
            @media (max-width: $tablet) {
                flex: 1 1 100%;
                margin: 0px 0px 40px 0px;
            }
        }
    }

    &__image {
        border-radius: 4px;
        overflow: hidden;
        width: 100%;
        top: 0;
        left: 0;
        height: 420px;
        @media (max-width: $pc) {
            height: 380px;
        }
        @media (max-width: $tablet) {
            height: 230px;
        }
        @media (max-width: $tablet) {
            height: 490px;
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(75);
        }
    }

    &__body {
        @media (max-width: $tablet) {
            text-align: center;
        }
    }

    &__title {
        font-size: rem(48);
        line-height: math.div(56, 48);
        color: $gray_01;
        padding: 0px 0px 38px 0px;
        margin: 0px 0px 40px 0px;
        position: relative;
        @media (max-width: $pc) {
            padding: 0px 0px 23px 0px;
            margin: 0px 0px rem(20) 0px;
        }
        @media (max-width: $tablet) {
            padding: 0px 0px 28px 0px;
            margin: 0px 0px 10px 0px;
            font-size: 36px;
        }
        @media (max-width: $tablet) {
            margin: 0px 0px 40px 0px;
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(75);
            font-size: 24px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 113.48px;
            height: 8px;
            background: $primary_01;
            @media (max-width: $pc) {
                width: 100px;
            }
            @media (max-width: $tablet) {
                width: 88px;
                left: 50%;
                transform: translate(-50%, 0px);
            }
            @media (max-width: $mobileSmall) {
                padding-top: rem(75);
            }
        }
    }

    &__text {
        font-family: Roboto;
        font-size: rem(18);
        line-height: math.div(24, 18);
        color: #9b9b9b;
        margin-bottom: rem(40);
        @media (max-width: $tablet) {
            margin: 0;
        }
        @media (max-width: $tablet) {
            font-size: rem(16);
            margin-bottom: rem(25);
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(75);
        }
    }

    &__btn {
        height: rem(60);
        padding: 0px rem(35);
    }
}

//========================================================================================================================================================

.news {
    background-color: $light_01;
    padding: 50px 0px;
    @media (max-width: $pc) {
        padding: 65px 0px 50px 0;
    }
    @media (max-width: $tablet) {
        padding: 40px 0px 10px 0;
    }
    &__container {
    }

    &__title {
        font-size: rem(48);
        line-height: math.div(56, 48);
        color: $gray_01;
        padding: 0px 0px 28px 0px;
        margin: 0px 0px 115px 0px;
        position: relative;
        text-align: center;
        @media (max-width: $pc) {
            padding: 0px 0px 38px 0px;
            margin: 0px 0px 100px 0px;
        }
        @media (max-width: $tablet) {
            padding: 0px 0px 38px 0px;
            margin: 0px 0px 50px 0px;
            font-size: 36px;
        }
        @media (max-width: $tablet) {
            padding: 0px 0px 28px 0px;
            margin: 0px 0px 60px 0px;
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(75);
            font-size: 24px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 113.48px;
            height: 8px;
            background: $primary_01;
            left: 50%;
            transform: translate(-50%, 0px);
            @media (max-width: $pc) {
                width: 100px;
            }
            @media (max-width: $tablet) {
                width: 88px;
            }
            @media (max-width: $mobileSmall) {
                padding-top: rem(75);
            }
        }
    }

    &__masonry {
        display: flex;
        padding: 0px 50px;
        @media (max-width: $pc) {
            padding: 0pxrem (15);
        }
        @media (max-width: $tablet) {
            padding: 0px 0px;
            margin: 0px -15px;
        }
    }

    &__grid-column {
        position: relative;
        flex: 1;
        @media (max-width: $pc) {
            &:nth-child(4) {
                display: none;
            }
        }
        @media (max-width: $tablet) {
            &:nth-child(3) {
                display: none;
            }
            @media (max-width: $mobileSmall) {
                padding-top: rem(75);
                display: none;
            }
        }
    }

    &__grid-item {
        overflow: hidden;
        margin: 0px rem(15) 30px rem(15);
        border-radius: 4px;
        position: relative;
        &::before {
            opacity: 0;
            transition: all 0.3s ease 0s;
            visibility: hidden;
            content: "";
            z-index: 5;
            position: absolute;
            width: 32px;
            height: 32px;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            background: url("../img/news/info.svg") 0 0 no-repeat;
        }
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            border: 0px solid rgba(0, 0, 0, 0);
            position: absolute;
            border-radius: 4px;
            overflow: hidden;
            z-index: 2;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: rgba(43, 64, 116, 0.4);
        }
        @media (min-width: $tablet) {
            &:hover {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
                &::after {
                    border: 10px solid $primary_01;
                }
                .news__link {
                    transform: translate(0px, -30px);
                    background-color: $primary_01;
                    color: $white;
                }
            }
        }
        &_1 {
            .news__image {
                img {
                    height: 440px;
                }
            }
        }
        &_2 {
            .news__image {
                img {
                    height: 340px;
                }
            }
        }
        &_3 {
            .news__image {
                img {
                    height: 380px;
                }
            }
        }
        &_4 {
            .news__image {
                img {
                    object-position: 0 10%;
                    height: 210px;
                }
            }
        }
        &_5 {
            .news__image {
                img {
                    height: 200px;
                }
            }
        }
        &_6 {
            .news__image {
                img {
                    height: 340px;
                }
            }
        }
        &_7 {
            .news__image {
                img {
                    height: 220px;
                }
            }
        }
        &_8 {
            .news__image {
                img {
                    height: 430px;
                }
            }
        }
    }

    &__image {
        img {
            position: relative;
        }
    }

    &__link {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 5;
        margin: 0;
        transform: translate(0px, 0px);
        transition: all 0.3s ease 0s;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background-color: $white;
        font-weight: 700;
        font-size: rem(16);
        line-height: math.div(19, 16);
        letter-spacing: rem(2);
        color: $gray_01;
    }
}

//========================================================================================================================================================

.testimonials {
    padding: 80px 0px 140px 0;
    @media (max-width: $tablet) {
        padding: 50px 0px 80px 0;
    }
    &__container {
    }

    &__slider {
    }
    .swiper-wrapper {
    }

    &__slide {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
    }

    &__quotes {
        font-size: 26px;
        margin: 0px 0px 50px 0px;
        flex: 1 1 auto;
        @media (max-width: $tablet) {
            margin: 0px 0px 40px 0px;
        }
    }

    &__text {
        max-width: 880px;
        margin: 0px auto 30px auto;
        font-size: 36px;
        line-height: math.div(46, 36);
        color: $gray_01;
        @media (max-width: $pc) {
            font-size: 32px;
            line-height: math.div(37, 32);
        }
        @media (max-width: $tablet) {
            margin: 0px 0px 40px 0px;
            line-height: math.div(34, 32);
        }
        @media (max-width: $mobileSmall) {
            padding-top: rem(75);
            margin: 0px 0px rem(20) 0px;
            line-height: math.div(26, 24);
        }
        span {
            font-weight: 700;
            color: $primary_01;
        }
    }

    &__name {
        margin-bottom: rem(40);
        font-weight: 700;
        font-size: rem(24);
        line-height: math.div(28, 24);
        letter-spacing: 2px;
        color: $gray_01;
        @media (max-width: $pc) {
            font-size: rem(20);
        }
        @media (max-width: $tablet) {
            margin-bottom: rem(20);
            line-height: math.div(24, 20);
        }
    }

    &__pagination {
        margin-top: rem(40);
        display: flex;
        justify-content: center;
        @media (max-width: $tablet) {
            margin-top: rem(20);
        }
        .swiper-pagination-bullet {
            border-radius: 50%;
            width: rem(10);
            height: rem(10);
            border: rem(1) solid $primary_01;
            background: $primary_01;
            transition: background-color 0.3s ease 0s;
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
        .swiper-pagination-bullet-active {
            background-color: $white;
        }
    }
}
